.ATM {
	display: inline-block;
	position: relative;
}
.atm-logo-container {
	position: relative;
	display: inline-block;
}
.atm-logo {
	position: relative;
	max-width: 100%;
	border-radius: 6px;
	box-shadow: 0px 7px 1.5px#888888;
}
.logo-graffiti {
	position: absolute;
	max-width: 100%;
	top: 10%;
	left: 44%;
	opacity: .8;
}
.atm-body {
	position: relative;
	height: 300px;
	background-color: #F1F0E7;
}
.card-logos {
	max-width: 75%;
}
.atm-screen {
	position: relative;
	width: 75%;
	height: 50%;
	left: 11%;
	background-color: #7EB4D5;
	border: 5px solid #E1E1D6;
}