body {
 margin: 0;
 padding: 0;
 background-color: #9F80AC;
 font-family: "Lucida Console", Monaco, sans-serif;
 font-weight: bold;
 font-size: 16px;
 color: #ffffff;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}
.ATM {
	position: relative;
}
.atm-logo-container {
	position: relative;
	background-color: #126CAE;
	width: 400px;
	border-radius: 6px;
	margin: 0 auto;
}
.atm-logo {
	position: relative;
	width: 75%;
}
.logo-graffiti {
	position: absolute;
	max-width: 100%;
	top: 13%;
	left: 45%;
	opacity: .8;
}
.atm-body {
	position: relative;
	width: 360px;
	height: 350px;
	background-color: #F1F0E7;
	margin: 0 auto;
    box-shadow: inset 0px 5px 1px #BEBEBE;
}
.card-logos {
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
}
.spanning-logo {
	position: absolute;
	width: 30%;
	top: 74%;
	left: 56.5%;
}
.body-graffiti {
	position: absolute;
	width: 40%;
	left: 5%;
	top: 66%;
}
.atm-screen {
	position: relative;
	width: 70%;
	height: 60%;
	left: 14%;
	background-color: #7EB4D5;
	border: 5px solid #E1E1D6;
}
.screen-text-welcome {
	position: absolute;
	top: 26%;
	left: 26%;
	z-index: 999;
}
.screen-text-balance {
	position: absolute;
	top: 30%;
	left: 35%;
	z-index: 999;
}
.screen-text-broken {
	position: absolute;
	top: 30%;
	left: 37%;
	z-index: 999;
}
.atm-button {
	position: absolute;
	width: 8%;
	height: 5%;
  	outline: none;
  	background-color:#C1C1C1;
  	border: none;
  	border-radius: 2px;
  	box-shadow: 0 2px #9B9B9B;
}
.atm-button:active {
  	box-shadow: 0 1px #9B9B9B;
  	transform: translateY(.1px);
}
.button-deco, .text-deco {
	position: absolute;
	background-color: #9B9B9B;
	width: 15%;
	height: .6%;
}
.text-deco {
	width: 3%;
	background-color: #ffffff;
	z-index: 999;
}
.button-text {
	position: absolute;
	font-size: 14px;
	z-index: 999;
}
#withdraw-button-text {
	left: 20%;
	top: 47.9%;
}
#balance-button-text {
	left: 66.3%;
	top: 47.9%;
}
#deposit-button-text {
	left: 20%;
	top: 56%;
}
#reenter-pin-button-text {
	left: 57.6%;
	top: 56%;
}
#deposit-button {
	right: 88%;
  	top: 55%;
}
#deposit-deco {
	left: 10%;
	top: 58%
}
#withdraw-button {
	right: 88%;
  	top: 47%;
}
#withdraw-deco {
	left: 10%;
	top: 50%
}
#balance-button {
	right: 3%;
  	top: 47%;
}
#balance-deco {
	left: 75%;
	top: 50%
}
#reenter-pin-button {
	right: 3%;
  	top: 55%;
}
#reenter-pin-deco {
	left: 78%;
	top: 58%;
}
#deposit-text-deco {
	left: 15.4%;
	top: 58%;
}
#withdraw-text-deco {
	left: 15.4%;
	top: 50%;
}
#balance-text-deco {
	left: 82.4%;
	top: 50%;
}
#reenter-pin-text-deco {
	left: 82.4%;
	top: 58%;
}
#placeholder-button-1 {
	right: 88%;
  	top: 39%;
}
#placeholder-button-2 {
	right: 88%;
  	top: 31%;
}
#placeholder-button-3 {
	right: 3%;
  	top: 39%;
}
#placeholder-button-4 {
	right: 3%;
  	top: 31%;	
}
#placeholder-deco-1 {
	right: 75%;
  	top: 42%;
}
#placeholder-deco-2 {
	right: 75%;
  	top: 34%;
}
#placeholder-deco-3 {
	right: 5%;
  	top: 42%;
}
#placeholder-deco-4 {
	right: 5%;
  	top: 34%;
}
.invisible {
	visibility: 0;
}